# Python virtual environment
venv/
.venv/
**/venv/
**/.venv/

# Python cache
__pycache__/
*.pyc

# Local RAG / DB / data
chroma/
chroma_db/
data/
uploads/
file_dump/

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db