fastapi
uvicorn
python-multipart
langchain
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
pypdf
python-docx
unstructured
msal
requests
python-dotenv
python-docx
docxtpl
pillow
pdfrw
lxml
# Optional OCR:
# pytesseract
# pdf2image